.back {
  display: none;
}
/* https://codepen.io/kristenzirkler/pen/eDzIE */

.card-img-top {
  height: 350px;
  display: block;
}

.arena {
  display: none;
}

.card-title {
  text-align: center;
  margin-top: 120px;
  margin-bottom: auto;
}

.Desert-background {
  background-image: url("./img/desertArena.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
}
.Ocean-background {
  background-image: url("./img/oceanArena.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
}
.Jungle-background {
  background-image: url("./img/jungleArena.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
}
.Beach-background {
  background-image: url("./img/beachArena.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
}
.Sky-background {
  background-image: url("./img/skyArena.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
}
.Arctic-background {
  background-image: url("./img/arcticArena.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
}
.Mountain-background {
  background-image: url("./img/mountainArena.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
}
.Swamp-background {
  background-image: url("./img/swampArena.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
}
.Farm-background {
  background-image: url("./img/farmArena.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
}
.Moon-background {
  background-image: url("./img/moonArena.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
}

.userImage {
  margin-left: 5px;
  margin-right: 900px;
  margin-bottom: 75px;
  height: 450px;
}

.computerImage {
  margin-left: 900px;
  margin-right: 5px;
  margin-bottom: 75px;
  height: 450px;
}
